# vscode crap
.vscode
.devcontainer/personal

# zig
zig-out
.zig-cache

# casclib artifacts
build-casclib

# testing artifacts
*.db2
*.dbd
*.csv
dbd
*.zip
*.m2
*.gltf
*.glb
*.blp
*.png
*.skin
*.skel
*.bone

# go build artifacts
model-export

# viewer
viewer/node_modules
viewer/dist
viewer/.parcel-cache